.main-content a {
    color: 	#9e9e9e;
    text-decoration: none;
}

.main-content .landing {
    height: 100vh;
    background-image: url('../assets/beautiful-dark-evening-29435.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    
}

.landing .fa-arrow-circle-down {
    margin-top: 20px;
    cursor: pointer;
}

canvas {
    position: absolute;
    z-index: 1;
    padding-bottom: 70px;
}





.portfolio-pic {
    margin: 50px 0 10px 10px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid #9e9e9e;
    float: right;
}

.main-content .paper {
    width: 70%;
    margin: 100px auto;
    padding: 0 70px 70px;
}

.main-content .paper h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 30px;
}

.about {
    display: block;
}

.main-content .about p {
    padding-top: 15px;
    padding-bottom: 30px;
}

.main-content .projects p {
    padding-bottom: 15px;
}

.main-content .projects h4 {
    padding-top: 30px;
    font-weight: bold;
}

.main-content .landing .intro {
    position: relative;
    z-index: 2;
    color: white; 
    margin-top: 200px;
    text-align: center;
}

.landing .intro .title {
    font-size: 5rem; 
}

.landing .intro .subtitle {
    font-size: 2rem; 
}





.socials {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}

.socials a {
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background:rgba(255,255,255,0.2);
    margin: 0 10px;
    color: whitesmoke;
}



@media (max-width: 768px) {

    .main-content .landing .intro {
        margin-top: 150px;
    }

    .main-content .paper {
        width: 80%;
    }

}




@media (max-width: 400px) {

    .main-content .landing .intro {
        margin-top: 100px;
    }

    .landing .intro .subtitle {
        font-size: 1.8rem;
    }

    .portfolio-pic {
        display: block;
        margin: 0 auto 20px;
        float: none;
    }

    .main-content .paper {
        width: 90%;
        margin: 100px auto;
        padding: 50px 50px;
    }
    
}